<div class="login container justify-content-center text-center">
  <form>
    <img class="mb-4 image" src="/assets/movies_sem_fundo.png">

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="email">
      <label for="floatingInput">E-mail</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Senha">
      <label for="floatingPassword">Senha</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2024</p>
  </form>
</div>
